/workspace/Servers
/workspace/.metadata
/workspace/RemoteSystemsTempFiles
/workspace/Tracker/WebContent/META-INF/MANIFEST.MF
/workspace/Tracker/.project
/workspace/Tracker/.classpath
/workspace/Tracker/build
/workspace/Tracker/.settings
/model.vpp~*
/temp.txt
/workspace/HibernateTest
