h1 {
	margin-top: 0.15em;
	margin-bottom: 0.15em;
}

h4 {
	margin-top: 0.15em;
	margin-bottom: 0.15em;
}

.table {
	border-style: solid;
	border-width: 1px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border-color: rgb(0, 0, 0);
	border-collapse: collapse;
}

.tableCell {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 0);
	padding: 3px;
}

.centeredText,.centered300px {
	margin: auto;
	margin-top: 15%;
}

.centered300px {
	width: 300px;
}

.centeredText {
	text-align: center;
}

.headerLeft {
	text-align: left;
	margin-left: 10px;
	width: 45%;
	float: left;
}

.headerRight {
	text-align: right;
	margin-right: 10px;
	width: 45%;
	float: right;
}

.loginerr,.input,.button,.disabledButton,.margin5px,.dialogErr {
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.margin15px {
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
}

.loginerr,.dialogErr {
	text-align: center;
	color: rgb(255, 0, 0);
}

.input,.button,.disabledButton,.buttonFixed,.cancelButtonFixed,.disabledButtonFixed,.createIssueButton
	{
	border-style: solid;
	border-width: 1px;
	margin: 4px;
}

.input,.button,.disabledButton {
	width: 100%;
}

.disabledButton,.cancelButtonFixed,.disabledButtonFixed {
	background-color: rgb(255, 255, 255);
	color: rgb(127, 127, 127);
	border-color: rgb(127, 127, 127);
}

.button,.buttonFixed,.createIssueButton {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 255);
	border-color: rgb(0, 0, 255);
}

.buttonFixed,.cancelButtonFixed,.disabledButtonFixed,.createIssueButton
	{
	width: 120px;
}

.selectNoBorder {
	color: black;
	margin-left: 0px;
	margin-bottom: 0px;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	font-family: Times New Roman;
}

.optionNoBorder {
	margin-left: 0px;
	margin-bottom: 0px;
	background: transparent;
}

.issueName {
	float: left;
	font-size: 16pt;
	margin-left: 1.5%;
	margin-bottom: 15px;
	margin-top: 10px;
	width: 43%;
}

.issueHeader {
	font-size: 16pt;
	font-style: bold;
	margin-bottom: 0px;
	margin-left: 10%;
}

.briefInfoTable {
	font-size: 12pt;
	border: 0px;
	width: 80%;
	margin-right: 20%;
}

.widthTd {
	width: 40%;
	padding: 0px;
	color: rgb(148, 143, 143);
}

.issueBriefInfo {
	width: 100%;
	margin-bottom: 15px;
}

.issueDescription {
	margin-left: 10%;
	width: 90%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.issueDescriptionCreate {
	margin-top: 15px;
	margin-bottom: 15px;
}

.noResolution {
	margin-left: 15px;
	margin-top: 15px;
}

.linkToEdit {
	width: 100%;
	text-align: center;
}

.briefInformation {
	font-size: 16pt;
	font-style: bold;
	margin-bottom: 0px;
	margin-left: 0px;
}

.editIssue {
	width: 100%;
}

.descrEdit {
	overflow: auto;
	width: 100%;
}

.issueCommitButtons {
	text-align: center;
}

.clear {
	clear: left;
}

.summary,.summaryEdit {
	font-size: 24pt;
}

.buttons {
	margin-left: 1.5%;
	margin-top: 10px;
	width: 50%;
}

.summary {
	clear: left;
	font-size: 24pt;
	margin-left: 1.5%;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 43%;
}

.summaryEdit {
	width: 100%;
}

.leaveComment {
	font-size: 16pt;
	padding-left: 10px;
	padding-top: 10px;
}

.comment {
	background-color: rgb(245, 243, 243);
}

.commentText {
	width: 100%;
	margin-top: 5px;
}

.postComment {
	padding-left: 10px;
	padding-bottom: 6px;
}

.divIssue {
	float: left;
	width: 51.5%;
	margin-left: 1.5%;
}

.divComments {
	float: left;
	margin-left: 4.5%;
	width: 40%;
	min-width: 400px;
}

.divIssue,.buttons {
	min-width: 600px;
}

.commentTable {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.commentTableAuthor,.commentTableDate {
	padding-top: 10px;
}

.commentTableAuthor {
	width: 30%;
	font-weight: bold;
}

.commentTableDate {
	text-align: right;
	font-style: italic;
	width: 70%;
}

.commentTableText,.commentTableParm,.commentTableParmVal {
	padding-top: 5px;
}

.commentTableParm {
	font-style: italic;
}

.commentTableParmVal {
	text-align: center;
	width: 35%;
}

.commentScroll {
	height: 50%;
}

.divIssueComments {
	margin-top: 10px;
}

.createIssue {
	margin-top: 10px;
	margin-left: 35%;
	margin-right: 35%;
	min-width: 300px;
	width: 30%;
}

.indexHeader {
	margin-left: 3%;
	margin-right: 3%;
}

.createIssueButtonDiv,.searchInput,.searchInfo {
	display: inline-block;
	margin-top: 30px;
}

.createIssueButtonDiv {
	padding: 0px;
	float: left;
	width: 25%;
}

.issuesTableDiv {
	margin-left: 3%;
	margin-right: 3%;
	padding: 0px;
	clear: left;
	clear: right;
}

.issuesTableProject,.issuesTableKey,.issuesTableName,.issuesTableType,.issuesTableStatus,.issuesTableReporter,.issuesTableAssignee,.issuesTableCreated,.issuesTableUpdated
	{
	border: 1px solid black;
	margin: 0px;
	background-color: rgb(245, 243, 243);
	padding: 5px;
	align: center;
	vertical-align: middle;
}

.issuesTable {
	margin: 0px;
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%;
}

.issuesTableProject,.issuesTableProjectBody {
	width: 14%;
}

.issuesTableKey,.issuesTableKeyBody {
	width: 8%;
}

.issuesTableName,.issuesTableNameBody {
	width: 18%;
}

.issuesTableType,.issuesTableTypeBody {
	width: 8%;
}

.issuesTableStatus,.issuesTableStatusBody {
	width: 8%;
}

.issuesTableReporter,.issuesTableReporterBody {
	width: 10%;
}

.issuesTableAssignee,.issuesTableAssigneeBody {
	width: 10%;
}

.issuesTableCreated,.issuesTableCreatedBody {
	width: 12%;
}

.issuesTableUpdated,.issuesTableUpdatedBody {
	width: 12%;
}

.inputKey,.selectIssueType {
	width: 100%;
	border: 0px;
}

.createIssueButton {
	margin-left: 0px;
	margin-right: 0px;
}

.issuesTableProjectBody,.issuesTableKeyBody,.issuesTableNameBody,.issuesTableTypeBody,.issuesTableStatusBody,.issuesTableReporterBody,.issuesTableAssigneeBody,.issuesTableCreatedBody,.issuesTableUpdatedBody
	{
	padding: 5px;
	border: 1px solid black;
	text-align: center;
}

.searchInfo {
	text-align: center;
	width: 50%;
}

.searchInput {
	padding: 0px;
	float: right;
	text-align: right;
	width: 25%;
}

.searchInputP {
	padding: 0px;
	font-style: italic;
}

.indexNoIssue {
	text-align: center;
	width: 100%;
	margin-top: 15px;
}

.indexPrev,.indexNext {
	margin-top: 10px;
	display: inline-block;
}

.indexPrev {
	float: left;
	margin-left: 30px;
}

.indexNext {
	float: right;
	margin-right: 30px;
}

.bottomWrapper {
	position: relative;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.adminLeftMenu {
	float: left;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	height: 100%;
}

.adminLeftSubMenu {
	margin-left: 20px;
}